/* -----HEADER-----*/
*
{
margin: 0;
padding: 0;
}

header
  {
  width: 100%;
  }

#figure1
  {
  width: 10%;
  display: inline-block;
  }

#logo
  {
  width: 90.41px;
  height: 64px;
  }

#menu
  {
  text-align: right;
  width: 60%;
  margin-top: 1.5em;
  margin-right: .5em;
  float: right;
  display: inline-block;
  }

#menu li
  {
  display: inline;
  color: lightgrey;
  text-decoration: none;
  }
ul
  {
  list-style-type: none;
  word-spacing: 2em;
  }

li a
  {
    color: rgb(118, 118, 118);
    text-decoration: none;
    font-size: .8em;
    font-weight: 690;
  }


.item1
  {
  display: none;
  }

/* -----H1-----*/

span
  {
  color: rgb(255, 90, 110);
  font-weight: bold;
  }

h1
  {
  width: 75%;
  display: block;
  margin-top: 8%;
  margin-left: 6.8%;
  margin-right: 19%;
  font-size: 1.4em;
  font-weight: 200;
  }

/*-----SECTION 1-----*/

#input2, #input3, #button1
  {
  display: none;
  }

#input1
  {
  margin: 2em 6em 1.5em 1em;
  border: solid 1px lightgrey;
  padding: 0.7em 3em;
  width: 50%;
  text-align: left;
  }

/*-----SECTION 2-----*/

#container
{
width: 100%;
display: inline-flex;
}


.figure1 img
  {
  width: 95%;
  height: 40%;
  background-color: red;
  }

  p
  {
  width: 95%;
  font-size: .9em;
  }

#article1, #article2
  {
  width: 100%;
  justify-content: center;
  }

#article3, #article4
  {
  display: none;
  }
