/*-----FONTS-----*/
@font-face {
  src: url("../fonts/circular.otf");
  font-family: "circular";
}

/* -----HEADER-----*/
*
{
margin: 0;
padding: 0;
font-family: "circular";
}

header
  {
  width: 100%;
  }

#figure1
  {
  width: 10%;
  display: inline-block;
  }

#logo
  {
  width: 90.41px;
  height: 64px;
  }

#menu
  {
  text-align: right;
  width: 60%;
  margin-top: 1.5em;
  margin-right: .5em;
  float: right;
  display: inline-block;
  }

#menu li
  {
  display: inline;
  }
ul
  {
  list-style-type: none;
  word-spacing: 1.2em;
  }

li a
  {
    color: rgb(118, 118, 118);
    text-decoration: none;
    font-size: .73em;
    color: black;
    font-weight: 690;
  }


.item1
  {
  display: none;
  }

/*------LES TITRES------*/

span
  {
  color: rgb(255, 90, 110);
  font-weight: bold;
  }


.title1
  {
  width: 100%;
  }

h1
  {
  width: 90%;
  display: block;
  margin-top: 8%;
  max-width: 90%;
  color: rgb(72, 72, 94);
  margin-right: 19%;
  font-size: 1.4em;
  font-weight: 200;
  }

h2, h3
  {
  margin: 10% 0 12% 2.8%;
  color: rgb(72, 72, 72);
  font-weight: 400;
  font-size: 1.2em;
  }

/*-----INPUT IS SECTION 1-----*/

#input2, #input3, #button1
  {
  display: none;
  }

#input1
  {
  margin: 2em 6em 1.5em 1em;
  border: solid 1px lightgrey;
  padding: 1.1em 3em;
  max-width:50%;
  text-align: left;
  font-size: 1em;
  box-shadow: 2px 2px 2px silver;
  }

/*-----FIRST, SECOND AND THIRD PART OF MOBILE DISPLAY IS SECTION 2-----*/

.container
{
width: 100%;
display: inline-flex;
}

.figure1, p, h1, h3
  {
  margin-left: 4%;
  }

.figure1
  {
  width: 95%;
  height: 40%;
  background-color: red;
  }

  p
  {
  width: 95%;
  font-size: .85em;
  }

.article1
  {
  width: 100%;
  justify-content: center;
  }

.article3
  {
  display: none;
  }

  /*-----RANKING-----*/

  .material-icons
    {
    width: 3%;
    margin-right: 7%;
    margin-left: 2%;
    color: rgb(0, 166, 153);
    }

 /*PART 4 */

  .article2
    {
      margin-right: 0%;
      width: 100%;
      height: 25%;
    }


  .figureDestination
    {
    width: 10%;
    margin-left: 5%;
    }

    .container a
      {
      text-decoration: none;
      color: rgb(72, 72, 72);
      font-weight: 600;
      }


  .figure2
    {
    width: 900%;
    }

  .figure2 a
      {
      text-align: left;

      }
    /*Finale Part*/

  .bigcontainer
    {
    width: 100%;
    display: inline-flex;
    }

    .figureFinale
      {
      width: 100%;
      margin-top: 16%;
      }

    #titreFinale
        {
        font-weight: bolder;
        font-size: 1.4em;
        margin-right: 25%;
        margin-bottom: 5%;
        }
    #p2
      {
      font-size: 1.1em;
      font-weight: 100;
      width: 78%;
      }

      .container2
        {
        display: block;
        }
      .bouton

      {
      border: 2px solid rgb(0, 132, 137);
      background-color: rgb(0, 132, 137);
      margin: 4% auto 8% 4%;
      border-radius: 4%;
      padding: 2.5% 5% 2.5% 3%;
      max-width: 59%;
      display: flex;
      }


      .bouton a
        {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 1.1em;
        margin-left: 8%;
        }

      /*-----FOOTER-----*/

      #hr1
        {
        color: rgb(255, 255, 255);
        margin: 23% 0 7% 0;
        }

      #hr2
        {
        color: rgb(255, 255, 255);
        margin: 15% 10% 2% 10%;
        }

      /*-----SELECTOR's FOOTER-----*/

        footer
          {

          width: 100%;
          }



        .ulFooter, nav h4, #hr3, #listFooter
          {
          display: none;
          }

        .pays, .devise
          {
          width: 41.9%;
          font-size: .85em;
          margin-left: 7%;
          border: 1px solid rgb(219, 219, 219);
          padding: 1em 3.3em ;
          background-color: white;
          }

          .footerMobile
            {
            width: 100%;
            display: flex;
            margin-left: 2%;
            margin-bottom: 8%;
            margin-top: auto;
            color: rgb(118, 118, 118);
            font-size: 1em;
            }

            .footerMobile ul
              {
              display: flex;
              }

            #ulMobile a
              {
                color: rgb(118, 118, 118);
                font-size: .9em;
              }

            #ulMobile li
                {
                margin-right: .5em;
                }

              #ulSvg li a svg
                {
                margin-right: .5em;
                }

          .footerMobile svg
            {
            align-items: center;

            }

          .footerMobile p
            {
            line-height: 27px;
            }

/*------DISPLAY FOR TABLET------*/

@media (min-width: 744px){

#section1
  {
  display: flex;
  height: 100%;
  width: 100%;
  }

.input
  {
  width: 100%;
  }

  #input1
    {
    margin-left: 4%;
    margin-right: auto;
    }
#input1, #input2, #input3
  {
  display: inline-flex;
  height: 7%;
  border: solid 1px lightgrey;
  padding: 1.12em 3em;
  max-width: 17%;
  text-align: left;
  font-size: 1em;
  box-shadow: 2px 2px 2px silver;
  }

/*-----DISPLAY HARLEM SECTION-----*/

  .article3
    {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

    .article3 figure
      {
      width: 100%;
      height: 20%;
      margin-left: 4%;
      justify-content: center;
      }


    }
